---
layout: page
title: Adapters
description: Scrapbook has adapters for Memcached, Redis, MySQL, SQLite, PostgreSQL & plain old PHP arrays.
weight: 1
---

<div class="container">
	{% assign pages_list = site.pages | sort:"weight" %}
	{% for node in pages_list %}
		{% if node.title != null %}
			{% if node.layout == "adapter" %}
				<div class="one-third alt column {% cycle 'bg-light-blue', '' %}">
					<article itemprop="mainEntity" itemscope itemtype="https://schema.org/Article" class="landing-boxes">
						<meta itemprop="mainEntityOfPage" content="{{ site.url }}{{ node.url }}">
						{% if node.image %}
						<meta itemprop="image" content="{{ site.baseurl }}{{ node.image }}">
						<meta itemprop="thumbnailUrl" content="{{ site.baseurl }}{{ node.image }}">
						{% endif %}
						<meta itemprop="description" content="{% if node.description %}{{ node.description | strip_html }}{% else %}{{ site.description | strip_html }}{% endif %}">
						<meta itemprop="url" content="{{ site.url }}{{ node.url }}">
						<meta itemprop="headline" content="{{ node.title }}">
						<meta itemprop="author" content="{{ site.author.name }}">
						<div itemprop="publisher" itemscope itemtype="https://schema.org/Organization" style="display: none">
							<meta itemprop="name" content="{{ site.title }}">
							<meta itemprop="logo" content="{{ site.url }}{{ site.image }}">
						</div>

						<a href="{{ node.url }}"><img src="{{ site.baseurl }}{{ node.image }}" alt="Memcached"></a>
						<h3 itemprop="name">{{ node.title }}</h3>
						<p>
							{{ node.description }}<br/>
							<a href="{{ node.url }}" class="button color"><i class="fa fa-book"></i> Docs &rsaquo;</a>
						</p>
					</article>
				</div>
			{% endif %}
		{% endif %}
	{% endfor %}
</div>
