---
layout: default
title: Home
weight: 0
---

<div class="container">
	<div class="eleven columns">
		<hr class="sep40">

		<h2>What is Scrapbook?</h2>

		<hr class="sep10">

		<p>
			Scrapbook is a caching environment for PHP.
			The cornerstone is <a href="{{ site.baseurl }}interfaces/key-value-store/">key-value-store</a>, which sets a standard interface for cache adapters to implement.
			All adapters hide their inner workings behind a shared implementation.
			Using it means you're not just building for <a href="{{ site.baseurl }}adapters/memcached/">Memcached</a>.
			Your code will work just fine on <a href="{{ site.baseurl }}adapters/">any of the other adapters</a>, without modifications!
		</p>
		<p>
			Having 1 shared interface to connect with all those backends means additional tools can be built on top of them & they'll work for all key-value stores.
			Like making them <a href="{{ site.baseurl }}interfaces/psr-cache/">PSR-6</a> or <a href="{{ site.baseurl }}interfaces/psr-simplecache/">PSR-16</a> compatible. Or implementing a <a href="{{ site.baseurl }}extras/buffered-cache/">buffered</a> or <a href="{{ site.baseurl }}extras/transactional-cache/">transactional</a> cache. Or <a href="{{ site.baseurl }}extras/stampede-protector/">stampede protection</a> or <a href="{{ site.baseurl }}extras/shard/">sharding</a>.
		</p>
	</div>

	<div class="five columns" id="features-adapters">
		<hr class="sep40">

		<div class="icon-left">
			<i class="ss-layergroup"></i>
		</div>

		<div class="featured-desc-2">
			<h3>Adapters</h3>
			<hr class="sep5">

			<ul class="list-1" style="float: left">
				<li><a href="{{ site.baseurl }}adapters/memcached/">Memcached</a></li>
				<li><a href="{{ site.baseurl }}adapters/redis/">Redis</a></li>
				<li><a href="{{ site.baseurl }}adapters/couchbase/">Couchbase</a></li>
				<li><a href="{{ site.baseurl }}adapters/apc/">APC(u)</a></li>
				<li><a href="{{ site.baseurl }}adapters/mysql/">MySQL</a></li>
			</ul>
			<ul class="list-1" style="float: right">
				<li><a href="{{ site.baseurl }}adapters/sqlite/">SQLite</a></li>
				<li><a href="{{ site.baseurl }}adapters/postgresql/">PostgreSQL</a></li>
				<li><a href="{{ site.baseurl }}adapters/flysystem/">Flysystem</a></li>
				<li><a href="{{ site.baseurl }}adapters/memory/">Memory</a></li>
			</ul>
		</div>
	</div>

	<hr class="sep30">
</div>

{% include build.html %}

<hr class="sep30">

{% include features.html %}
