---
layout: page
title: Interfaces
description: Other than the interface defining all adapters, scrapbook also has a PSR-6 & PSR-16 compatible implementation & a buffered & transactional cache layer.
weight: 2
---

<div class="container">
	<div class="sixteen columns">
		<p>
			Scrapbook supports 3 different interfaces. There's the
			Scrapbook-specific KeyValueStore, and then there are 2 PSR
			interfaces put forward by the PHP FIG.
		</p>
	</div>

	<hr class="sep20">

	{% assign pages_list = site.pages | sort:"weight" %}
	{% for node in pages_list %}
		{% if node.title != null %}
			{% if node.layout == "interface" %}
				<div class="eight columns">
					<div class="featured-box">
						<div class="icon-left">
							<i class="{{ node.icon }}"></i>
						</div>

						<article itemprop="mainEntity" itemscope itemtype="https://schema.org/Article" class="featured-desc-2">
							<meta itemprop="mainEntityOfPage" content="{{ site.url }}{{ node.url }}">
							{% if node.image %}
							<meta itemprop="image" content="{{ site.baseurl }}{{ node.image }}">
							<meta itemprop="thumbnailUrl" content="{{ site.baseurl }}{{ node.image }}">
							{% endif %}
							<meta itemprop="description" content="{% if node.description %}{{ node.description | strip_html }}{% else %}{{ site.description | strip_html }}{% endif %}">
							<meta itemprop="url" content="{{ site.url }}{{ node.url }}">
							<meta itemprop="headline" content="{{ node.title }}">
							<meta itemprop="author" content="{{ site.author.name }}">
							<div itemprop="publisher" itemscope itemtype="https://schema.org/Organization" style="display: none">
								<meta itemprop="name" content="{{ site.title }}">
								<meta itemprop="logo" content="{{ site.url }}{{ site.image }}">
							</div>

							<h3 itemprop="name">{{ node.title }}</h3>
							<hr class="sep5">

							<p>
								{{ node.description }}<br/>
								<hr class="sep5">
								<a href="{{ node.url }}" class="button color"><i class="fa fa-book"></i> Docs &rsaquo;</a>
							</p>
						</article>
					</div>
				</div>
			{% endif %}
		{% endif %}
	{% endfor %}
</div>
