<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" colors="true" bootstrap="tests/bootstrap.php" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
	<coverage>
		<include>
			<directory suffix=".php">src</directory>
		</include>
		<report>
			<clover outputFile="build/logs/clover.xml"/>
		</report>
	</coverage>
	<testsuites>
		<testsuite name="scrapbook">
			<directory suffix="Test.php">tests</directory>
			<exclude>tests/Psr6/Integration</exclude>
			<exclude>tests/Psr16/Integration</exclude>
		</testsuite>
		<testsuite name="integration">
			<!-- cache/integration-tests depends on cache/tag-interop, which has a 5.5 minimum requirement -->
			<directory suffix="Test.php" phpVersion="5.5.0" phpVersionOperator=">=">tests/Psr6/Integration</directory>
			<directory suffix="Test.php" phpVersion="5.5.0" phpVersionOperator=">=">tests/Psr16/Integration</directory>
		</testsuite>
	</testsuites>
	<logging/>
</phpunit>
