<div class="container">
	<div class="eight columns">
		<div class="services-box services-box-animated">
			<div class="inner">
				<div class="front"><i class="fa fa-bug"></i>
					<h3>Bugs</h3>
				</div>
				<div class="back">
					<h3>Bugs</h3>
					<p>Please <a href="https://github.com/matthiasmullie/scrapbook/issues">submit</a> any issue you encounter.</p>
					<p>In order to easily grasp the issue, be as thorough as possible in describing the bug! Please include your code & the expected result.</p>
					<p>Bonus points for including a pull request with the issue added to the test suite!</p>
				</div>
			</div>
		</div>
	</div>

	<div class="eight columns">
		<div class="services-box services-box-animated">
			<div class="inner">
				<div class="front"><i class="fa fa-code-fork"></i>
					<h3>Contribute</h3>
				</div>
				<div class="back">
					<h3>Contribute</h3>
					<p>Dig into to the code. It's <a href="{{ site.baseurl }}license/">MIT-licensed</a>, so you're allowed to do pretty much anything with it.</p>
					<pre>git clone git@github.com:matthiasmullie/scrapbook.git</pre>
					<p><a href="https://github.com/matthiasmullie/scrapbook">Fork</a> the repository on GitHub, and send your pull requests! Any kind of help is welcome.</p>
				</div>
			</div>
		</div>
	</div>
</div>
