<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/public/apple-touch-icon-144-precomposed.png">
<link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}/public/favicon.ico">

<link rel="alternate" type="application/atom+xml" title="Atom" href="{{ site.baseurl }}/atom.xml">
<link rel="alternate" type="application/rss+xml" title="RSS" href="{{ site.baseurl }}/feed.xml">

<meta name="author" content="{{ site.author.name }}">
<link rel="author" href="{{ site.author.name }}">

<meta property="og:site_name" content="{{ site.title }}">

<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@{{ site.author.twitter }}">

<title>{% if page.title %}{{ page.title | strip_html }} &middot; {{ site.title }}{% else %}{{ site.title | strip_html }}{% endif %}</title>
<meta property="og:title" content="{% if page.title %}{{ page.title | strip_html }} &middot; {{ site.title }}{% else %}{{ site.title | strip_html }}{% endif %}">
<meta name="twitter:title" content="{% if page.title %}{{ page.title | strip_html }} &middot; {{ site.title }}{% else %}{{ site.title | strip_html }}{% endif %}">

<meta name="description" content="{% if page.description %}{{ page.description | strip_html }}{% else %}{{ site.description | strip_html }}{% endif %}">
<meta property="og:description" content="{% if page.description %}{{ page.description | strip_html }}{% else %}{{ site.description | strip_html }}{% endif %}">
<meta name="twitter:description" content="{% if page.description %}{{ page.description | strip_html }}{% else %}{{ site.description | strip_html }}{% endif %}">

<link rel="canonical" href="{{ site.url }}{{ page.url }}">
<meta property="og:url" content="{{ site.url }}{{ page.url }}">
<meta property="twitter:url" content="{{ site.url }}{{ page.url }}">

{% if page.image %}
<meta property="og:image" content="{{ site.url }}{{ page.image }}">
<meta name="twitter:image" content="{{ site.url }}{{ page.image }}">
<link rel="image_src" href="{{ site.url }}{{ page.image }}">
{% else %}
<meta property="og:image" content="{{ site.url }}{{ site.image }}">
<meta name="twitter:image" content="{{ site.url }}{{ site.image }}">
<link rel="image_src" href="{{ site.url }}{{ site.image }}">
{% endif %}

{% if page.date %}
<meta property="og:type" content="article">
<meta property="article:published_time" content="{{ page.date }}">
<meta property="article:modified_time" content="{{ page.date }}">
<meta property="article:author" content="{{ site.author.name }}">
{% else %}
<meta property="og:type" content="website">
{% endif %}

{% for tag in page.tags %}<meta property="article:tag" content="{{ tag }}">{% endfor %}
