<h3 class="headline">get($key, &$token = null): mixed|bool</h3>
<span class="brd-headling"></span>
<div class="clearfix"></div>

<p>Retrieves an item from the cache.</p>

<p>Optionally, an 2nd variable can be passed to this function. It will be
filled with a value that can be used for cas()</p>

<h3 class="headline">getMulti(array $keys, array &$tokens = null): mixed[]</h3>
<span class="brd-headling"></span>
<div class="clearfix"></div>

<p>Retrieves multiple items at once.</p>

<p>Return value will be an associative array in [key => value] format. Keys
missing in cache will be omitted from the array.</p>

<p>Optionally, an 2nd variable can be passed to this function. It will be
filled with values that can be used for cas(), in an associative array in
[key => token] format. Keys missing in cache will be omitted from the
array.</p>

<p>getMulti is preferred over multiple individual get operations as you'll
get them all in 1 request.</p>

<h3 class="headline">set($key, $value, $expire = 0): bool</h3>
<span class="brd-headling"></span>
<div class="clearfix"></div>

<p>Stores a value, regardless of whether or not the key already exists (in
which case it will overwrite the existing value for that key)</p>

<p>Return value is a boolean true when the operation succeeds, or false on
failure.</p>

<h3 class="headline">setMulti(array $items, $expire = 0): bool[]</h3>
<span class="brd-headling"></span>
<div class="clearfix"></div>

<p>Store multiple values at once.</p>

<p>Return value will be an associative array in [key => status] form, where
status is a boolean true for success, or false for failure.</p>

<p>setMulti is preferred over multiple individual set operations as you'll
set them all in 1 request.</p>

<h3 class="headline">delete($key): bool</h3>
<span class="brd-headling"></span>
<div class="clearfix"></div>

<p>Deletes an item from the cache.<br>
Returns true if item existed & was successfully deleted, false otherwise.</p>

<p>Return value is a boolean true when the operation succeeds, or false on
failure.</p>

<h3 class="headline">deleteMulti(array $keys): bool[]</h3>
<span class="brd-headling"></span>
<div class="clearfix"></div>

<p>Deletes multiple items at once (reduced network traffic compared to
individual operations)</p>

<p>Return value will be an associative array in [key => status] form, where
status is a boolean true for success, or false for failure.</p>

<h3 class="headline">add($key, $value, $expire = 0): bool</h3>
<span class="brd-headling"></span>
<div class="clearfix"></div>

<p>Adds an item under new key.</p>

<p>This operation fails (returns false) if the key already exists in cache.
If the operation succeeds, true will be returned.</p>

<h3 class="headline">replace($key, $value, $expire = 0): bool</h3>
<span class="brd-headling"></span>
<div class="clearfix"></div>

<p>Replaces an item.</p>

<p>This operation fails (returns false) if the key does not yet exist in
cache. If the operation succeeds, true will be returned.</p>

<h3 class="headline">cas($token, $key, $value, $expire = 0): bool</h3>
<span class="brd-headling"></span>
<div class="clearfix"></div>

<p>Replaces an item in 1 atomic operation, to ensure it didn't change since
it was originally read, when the CAS token was issued.</p>

<p>This operation fails (returns false) if the CAS token didn't match with
what's currently in cache, when a new value has been written to cache
after we've fetched it. If the operation succeeds, true will be returned.</p>

<h3 class="headline">increment($key, $offset = 1, $initial = 0, $expire = 0): int|bool</h3>
<span class="brd-headling"></span>
<div class="clearfix"></div>

<p>Increments a counter value, or sets an initial value if it does not yet
exist.</p>

<p>The new counter value will be returned if this operation succeeds, or
false for failure (e.g. when the value currently in cache is not a
number, in which case it can't be incremented)</p>

<h3 class="headline">decrement($key, $offset = 1, $initial = 0, $expire = 0): int|bool</h3>
<span class="brd-headling"></span>
<div class="clearfix"></div>

<p>Decrements a counter value, or sets an initial value if it does not yet
exist.</p>

<p>The new counter value will be returned if this operation succeeds, or
false for failure (e.g. when the value currently in cache is not a
number, in which case it can't be decremented)</p>

<h3 class="headline">touch($key, $expire): bool</h3>
<span class="brd-headling"></span>
<div class="clearfix"></div>

<p>Updates an item's expiration time without altering the stored value.</p>

<p>Return value is a boolean true when the operation succeeds, or false on
failure.</p>

<h3 class="headline">flush(): bool</h3>
<span class="brd-headling"></span>
<div class="clearfix"></div>

<p>Clears the entire cache.</p>

<h3 class="headline">getCollection(): KeyValueStore</h3>
<span class="brd-headling"></span>
<div class="clearfix"></div>

<p>Returns an isolated subset (collection) in which to store or fetch data
from.</p>

<p>A new KeyValueStore object will be returned, one that will only have
access to this particular subset of data. Exact implementation can vary
between adapters (e.g. separate database, prefixed keys, ...), but it
will only ever provide access to data within this collection.</p>

<p>It is not possible to set/fetch data across collections.<br>
Setting the same key in 2 different collections will store 2 different
values, that can only be retrieved from their respective collections.<br>
Flushing a collection will only flush those specific keys and will leave
keys in other collections untouched.<br>
Flushing the server, however, will wipe out everything, including data in
any of the collections on that server.</p>
