<h3 class="headline">getItem($key): Item</h3>
<span class="brd-headling"></span>
<div class="clearfix"></div>

<p>Returns a Cache Item representing the specified key.</p>

<h3 class="headline">getItems(array $keys = array()): Item[]</h3>
<span class="brd-headling"></span>
<div class="clearfix"></div>

<p>Returns a traversable set of cache items.</p>

<h3 class="headline">hasItem($key): bool</h3>
<span class="brd-headling"></span>
<div class="clearfix"></div>

<p>Confirms if the cache contains specified cache item.</p>

<h3 class="headline">clear(): bool</h3>
<span class="brd-headling"></span>
<div class="clearfix"></div>

<p>Deletes all items in the pool.</p>

<h3 class="headline">deleteItem($key): bool</h3>
<span class="brd-headling"></span>
<div class="clearfix"></div>

<p>Removes the item from the pool.</p>

<h3 class="headline">deleteItems(array $keys): bool</h3>
<span class="brd-headling"></span>
<div class="clearfix"></div>

<p>Removes multiple items from the pool.</p>

<h3 class="headline">save(CacheItemInterface $item): bool</h3>
<span class="brd-headling"></span>
<div class="clearfix"></div>

<p>Persists a cache item immediately.</p>

<h3 class="headline">saveDeferred(CacheItemInterface $item): bool</h3>
<span class="brd-headling"></span>
<div class="clearfix"></div>

<p>Sets a cache item to be persisted later.</p>

<h3 class="headline">commit(): bool</h3>
<span class="brd-headling"></span>
<div class="clearfix"></div>

<p>Persists any deferred cache items.</p>
