<h3 class="headline">getKey(): string</h3>
<span class="brd-headling"></span>
<div class="clearfix"></div>

<p>Returns the key for the current cache item.</p>

<h3 class="headline">get(): mixed</h3>
<span class="brd-headling"></span>
<div class="clearfix"></div>

<p>Retrieves the value of the item from the cache associated with this object's key.</p>

<h3 class="headline">isHit(): bool</h3>
<span class="brd-headling"></span>
<div class="clearfix"></div>

<p>Confirms if the cache item lookup resulted in a cache hit.</p>

<h3 class="headline">set($value): static</h3>
<span class="brd-headling"></span>
<div class="clearfix"></div>

<p>Sets the value represented by this cache item.</p>

<h3 class="headline">expiresAt($expiration): static</h3>
<span class="brd-headling"></span>
<div class="clearfix"></div>

<p>Sets the expiration time for this cache item.</p>

<h3 class="headline">expiresAfter($expiration): static</h3>
<span class="brd-headling"></span>
<div class="clearfix"></div>

<p>Sets the expiration time for this cache item.</p>
