<h3 class="headline">get($key): mixed</h3>
<span class="brd-headling"></span>
<div class="clearfix"></div>

<p>Fetch a value from the cache.</p>

<h3 class="headline">set($key, $value, $ttl): bool</h3>
<span class="brd-headling"></span>
<div class="clearfix"></div>

<p>Persist data in the cache, uniquely referenced by a key with an optional expiration TTL time.</p>

<h3 class="headline">delete(): void</h3>
<span class="brd-headling"></span>
<div class="clearfix"></div>

<p>Delete an item from the cache by its unique key.</p>

<h3 class="headline">clear(): void</h3>
<span class="brd-headling"></span>
<div class="clearfix"></div>

<p>Wipe clean the entire cache's keys.</p>

<h3 class="headline">getMultiple($keys): mixed[]</h3>
<span class="brd-headling"></span>
<div class="clearfix"></div>

<p>Obtain multiple cache items by their unique keys.</p>

<h3 class="headline">setMultiple($items, $ttl): bool</h3>
<span class="brd-headling"></span>
<div class="clearfix"></div>

<p>Persisting a set of key => value pairs in the cache, with an optional TTL.</p>

<h3 class="headline">deleteMultiple($keys): bool</h3>
<span class="brd-headling"></span>
<div class="clearfix"></div>

<p>Delete multiple cache items in a single operation.</p>

<h3 class="headline">has($key): bool</h3>
<span class="brd-headling"></span>
<div class="clearfix"></div>

<p>Identify if an item is in the cache.</p>
