<li><a class="github tooltip top" title="GitHub" href="https://github.com/scrapbook/"><i class="fa fa-github"></i></a></li>
<li class="last"><a class="download tooltip top" title="Packagist" href="https://packagist.org/packages/scrapbook/"><i class="fa fa-download"></i></a></li>

{{! <li><a class="travis tooltip top" title="Travis CI" href="#"><i class="icon-travis"></i></a></li> }}
{{! <li><a class="coveralls tooltip top" title="Coveralls" href="#"><i class="icon-coveralls"></i></a></li> }}
{{! <li><a class="scrutinizer tooltip top" title="Scrutinizer CI" href="#"><i class="icon-scrutizer"></i></a></li> }}
{{! <li><a class="twitter tooltip top" title="Twitter" href="#"><i class="twitter"></i></a></li> }}
<!-- <li class="last"><a class="rss tooltip top" title="RSS" href="{{ site.baseurl }}feed.xml"><i class="fa fa-rss"></i></a></li> -->
