<li><a class="github tooltip top" title="GitHub" href="https://github.com/matthiasmullie/scrapbook/"><i class="fa fa-github"></i></a></li>
<li class="last"><a class="download tooltip top" title="Packagist" href="https://packagist.org/packages/matthiasmullie/scrapbook"><i class="fa fa-download"></i></a></li>

{{! <li><a class="travis tooltip top" title="Travis CI" href="https://travis-ci.org/matthiasmullie/scrapbook"><i class="..."></i></a></li> }}
{{! <li><a class="codecov tooltip top" title="Codecov" href="https://codecov.io/github/matthiasmullie/scrapbook"><i class="..."></i></a></li> }}
{{! <li><a class="scrutinizer tooltip top" title="Scrutinizer CI" href="https://scrutinizer-ci.com/g/matthiasmullie/scrapbook"><i class="..."></i></a></li> }}
{{! <li class="last"><a class="twitter tooltip top" title="Twitter" href="https://twitter.com/scrapbook_cache"><i class="fa fa-twitter"></i></a></li> }}
