/* Styles Switcher
====================================================================== */

	#style-switcher h3 {
		color: #848688;
		font-size: 13px;
		margin: 5px 0 -5px 1px;
	}
	
	#style-switcher {
		background-color: #fff;
		width: 205px;
		position:fixed;
		top: 96px;
		z-index: 999;
		border-radius: 0 0 3px 0;
		left: -206px;
		border: 1px solid #e4e4e4;
		border-left: 0;
		border-top: 0;
		box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.08);
	}
	
	#style-switcher div {
		padding: 2px 18px 10px 18px;
	}
	
	#style-switcher h2 {
		background-color: #fff;
		color: #848688;
		font-weight: bold;
		font-size: 14px;
		padding: 5px 0 5px 0px;
		border-top:1px solid #eee;		
		color:#666;
        text-align: center;
       
		
	}
	
	#style-switcher h2 a {
		background: url("../images/switcher.gif") no-repeat 10px center transparent;
		background-color: #fff;
		display: block;
		height: 44px;
		position: absolute;
		right: -44px;
		text-indent: -9999px;
		top: 0;
		width: 44px;
		border-radius: 0 2px 2px 0;
		border-top:1px solid #eee;
		border-right:1px solid #eee;
		border-bottom:1px solid #eee;
		border-left:0px solid #eee;



	}
	
	.colors {
		list-style:none;
		margin: 0 0px 10px 0;
		overflow: hidden;
	}
	
	.colors li {
		float:left;
		margin: 4px 2px 0 2px;
	}
	
	.colors li a {
		display: block;
		width: 20px;
		height: 20px;
		cursor: pointer;
		border-radius: 2px;
	} 
	
	.layout-style select,
	.header-style select {
		width: 164px;
		padding: 5px;
		color: #848688;
		cursor: pointer;
		border-radius: 2px;
		font-size: 13px;
		margin: 2px 0 10px 2px;
	}
	
	.layout-style,
	.header-style { padding: 0 !important; }
	
	.grayblue { background: #5f8cb4; }
	.orange   { background: #f56450; }
	.green    { background: #2dcd73; }
	.blue     { background: #50d2f5; }
	.yellow   { background: #f5d250; }
	.navy     { background: #2850c8; }
	.beige    { background: #d2be82; }
      .red      { background: #cd2323; }
	.cyan     { background: #28cdbe; }
	.pink     { background: #cd2d78; }	
	.brown    { background: #643c1e; }
	.olive    { background: #9bbe55; }	
	.purple   { background: #8250a0; }
	.gray     { background: #9ba5af; }
	
	

	.bg1 { background-image: url("../images/bg/noise_pattern_with_crosslines.png"); }
	.bg2 { background-image: url("../images/bg/noise.png"); }	
	.bg3 { background-image: url("../images/bg/escheresque_ste.png"); }
	.bg4 { background-image: url("../images/bg/crisp_paper_ruffles.png"); }
	.bg5 { background-image: url("../images/bg/navy_blue.png"); }
	.bg6 { background-image: url("../images/bg/bedge_grunge.png"); }
	.bg7 { background-image: url("../images/bg/diamond_upholstery.png"); }
	.bg8 { background-image: url("../images/bg/px_by_Gre3g.png"); }
	.bg9 { background-image: url("../images/bg/light_toast.png"); }
	.bg10 { background-image: url("../images/bg/retina_dust.png"); }
	.bg11 { background-image: url("../images/bg/purty_wood.png"); }
	.bg12 { background-image: url("../images/bg/pw_maze_black.png"); }
	.bg13 { background-image: url("../images/bg/textured_stripes.png"); }
	.bg14 { background-image: url("../images/bg/tileable_wood_texture.png"); }
	
	
	@media only screen and (max-width: 1023px) { #style-switcher { display: none; } }
	   
