name: healthcheck

on:
  schedule:
    - cron: "0 1 * * *"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Test (twice, if needed)
        run: make test || make test
      - name: Healthcheck ping
        run: wget https://healthchecks.home.mullie.eu/ping/8b7211de-8a81-4b13-a6bb-58b7fb0c3423 -T 10 -t 5 -O /dev/null
